:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --f-normal: 1.125rem;
  --f-medium: 1.5rem;
  --f-large: 4rem;
  --fw-Small: 500;
  --fw-normal: 700;
  --fw-large: 800;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--f-normal);
  font-weight: var(--fw-normal);
  background-color: var(--Pale-blue);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: var(--f-large);
  font-weight: var(--fw-large);
}
h2 {
  font-size: var(--f-medium);
  font-weight: var(--fw-normal);
}
h3 {
  font-size: var(--f-medium);
  font-weight: var(--fw-large);
}
strong {
  font-weight: var(--fw-large);
}
.card {
  border-radius: 20px;
  background-color: var(--White);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 20px 30px 40px hsla(224, 30%, 27%, 0.2);
}
.result {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  color: var(--Light-lavender);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  padding: 2rem;
}
.score {
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  padding: 3rem;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.score > h1 {
  color: var(--White);
}
.summary {
  padding: 2rem;
}
.bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--f-medium);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}
.bar div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.bar:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: var(--Light-red);
}

.bar:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: var(--Orangey-yellow);
}
.bar:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: var(--Green-teal);
}
.bar:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: var(--Cobalt-blue);
}
